@import '../../../variables';

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}

.nav_list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem 1rem;
  margin: 0;
  box-sizing: border-box;
  backdrop-filter: blur(10px) brightness(150%);
}

.nav_list-item {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
  align-items: center;
}

.nav_icon {
  font-size: 1.8rem;
  width: 28.8px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-font-color;
}

.nav_icon.stroke {
  fill-opacity: 0;
  stroke: $white-font-color;
  stroke-width: .7em;
}

.nav_icon-name {
  position: absolute;
  top: -1.5em;
  text-align: center;
  &::before {
    position: absolute;
    bottom: -3px;
    content: '';
    width: 0;
    height: 2px;
    background: $accent-color;
    transition-duration: $animation-speed;
  }
}

.nav_icon-name.active {
  position: absolute;
  top: -1.5em;
  text-align: center;
  &::before {
    position: absolute;
    bottom: -3px;
    content: '';
    width: 80%;
    height: 2px;
    background: $accent-color;
    border-radius: 50px;
    transition-duration: $animation-speed;
  }
}

.to-bottom {
  position: fixed;
  bottom: 3em;
  right: 2em;
  z-index: 2;
}

@media (min-width: 370px) {
  .nav_icon {
    font-size: 2.5rem;
    width: 40px;
  }

  .nav_icon-name {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .navigation {
    width: auto;
    padding: 1em;
  }

  .nav_list {
    width: auto;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    backdrop-filter: none;
    padding: 2rem 1rem;
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 2px;
      background: $accent-color;
      top: 0;
      left: 0;
    }
  }

  .nav_list-item {
    display: flex;
    flex-direction: row;
  }

  .nav_icon {
    font-size: 1.8rem;
    width: 30px;
  }

  .nav_icon-name,
  .nav_icon-name.active {
    top: auto;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .nav_icon {
    font-size: 2.1rem;
    height: 42px;
  }
}
