@import '../../../variables';

.footer {
  height: 150vh;
  background: $background-color;
  font-size: 0.75em;
}

.footer_grid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer_section.one {
  grid-area: one;
  display: grid;
  grid-auto-rows: 1fr;
  box-sizing: border-box;
  height: 65vh;
}

.footer_section.two {
  grid-area: two;
  background: url(../../../assets/img/Background-Website_Blur.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.footer_menu-list {
  overflow-x: hidden;
}

.footer_menu-row.chapters {
  max-width: 250px;
}

.footer_menu-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0em 3em;
  max-height: 200px;
  gap: 2em;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.footer_menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
  height: 100%;
  max-height: 165px;
}

.footer_menu-list-item {
  list-style: none;
  position: relative;
  cursor: pointer;
  &::before {
    position: absolute;
    bottom: -3px;
    content: '';
    width: 0%;
    height: 2px;
    background: $accent-color;
    border-radius: 50px;
    transition-duration: $animation-speed;
  }
}

.footer_menu-list-item.active {
  position: relative;
  width: min-content;
  &::before {
    position: absolute;
    bottom: -3px;
    content: '';
    width: 80%;
    height: 2px;
    background: $accent-color;
    border-radius: 50px;
    transition-duration: $animation-speed;
  }
}

.footer_text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 100vw;
}

.footer_content-container {
  padding: 3em;
  box-sizing: border-box;
  height: calc(100vh - 72px);
  overflow-y: auto;
  width: 100%;
}

.footer-a {
  color: $white-font-color;
}

@media (min-width: 370px) {
  .footer {
    font-size: .9em;
  }

  .footer_menu-container {
    max-height: 200px;
  }

  .footer_menu-list {
    max-height: 100%;
  }
}

@media (min-width: 390px) {
  .footer {
    font-size: 1em;
  }

  .footer_text-wrapper {
    font-size: 1.2em;
  }

  .footer_menu-container {
    max-height: 200px;
  }
}

@media (min-width: 768px) {
  .footer_text-wrapper {
    font-size: 1.3em;
  }

  .footer_menu-container {
    max-height: 250px;
  }
}

@media (min-width: 1024px) {
  .footer {
    height: calc(100vh - 72px);
  }

  .footer_grid {
    display: grid;
    grid-template-areas: 'one two two';
    grid-auto-columns: 1fr;
  }

  .footer_section.one {
    height: 70%;
  }

  .footer_section.two {
    height: 100%;
  }

  .footer_menu-list {
    font-size: 1.2em;
  }
}
