@import '../../../variables';
// Application

.footer_form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}

.footer_form-first-grid {
  display: grid;
  grid-template-areas:
  'one'
  'two'
  'three'
  'four'
  'five'
  ;
  gap: 1.5em;
}

.footer_form-files-container {
  display: grid;
  grid-template-areas:
  'one'
  'two'
  'three'
  'four'
  ;
  gap: 1.5em;
  padding-top: 1.5em;
  width: max-content;
  margin: 0 auto;
}

.footer_input-label {
  width: 100%;
  box-shadow: $box-shadow;
  border-radius: 500px;
}

.footer_select {
  box-shadow: $box-shadow;
}

.footer_input,
.footer_select {
  width: 100%;
  padding: 0.5em 1em;
  border: none;
  border-radius: 500px;
  background: $white-font-color;
}

.footer_input:focus,
.footer_select:focus {
  appearance: none;
}

.footer_app-input-file {
  font-size: 0.6em;
  position: relative;
  box-sizing: border-box;
  width: 130px;
}

.footer_app-file-name {
  display: grid;
}

.footer_app-input-file::-webkit-file-upload-button {
  display: none;
}

.footer_app-file {
  display: flex;
  color: black;
  background: $white-font-color;
  justify-content: space-between;
  border-radius: 500px;
}

.footer_app-file-name {
  background: $white-font-color;
  padding: 0.5em 0 0.5em 1em;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 500px 0 0 500px;
}

.footer_app-file-icon {
  background: linear-gradient(to right, hsl(140, 32%, 40%), hsl(142, 20%, 34%));
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;
  color: $white-font-color;
}

.file-icon {
  color: $white-font-color;
  height: 100%;
}

.footer_apply-button {
  padding: 1em;
  box-sizing: border-box;
  border-radius: 500px;
  background: $gradient;
  border: none;
  box-shadow: $box-shadow;
}

li {
  list-style: none;
}

.footer_content {
  max-height: 100%;
}

.footer__content__headline {
  font-size: 1.8em;
  color: $accent-color;
}

.footer__content__chapter-headline {
  font-size: 1.4em;
  padding: 0.5em 0 0 0;
  color: $accent-color;
}

.footer__content__text {
  font-size: .8em;
}

.footer__content__ul {
  padding: 0 0 0 2em;
  color: $white-font-color;
}

.footer__content__li {
  padding: 0.5em 0;
  list-style: none;
}

.footer__content__sub-chapter-headline {
  color: $white-font-color;
  font-size: 1.2em;
  font-weight: 400;
}

.footer__content__sub-sub-chapter-headline {
  font-size: 1.3em;
  color: $white-font-color;
  font-weight: 400;
  text-decoration: underline;
}

.footer__content__text-mini {
  font-size: 0.9em;
}

.media__content {
  padding: 6em 9em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__media-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.footer__media-button {
  width: 50%;
  text-align: center;
  background: linear-gradient(0.25turn, #204f31, #358150, #204f31);
  border-radius: 25px;
  font-size: 1.3em;
}

.jobs__content {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.job_container {
  width: 100%;
  backdrop-filter: brightness(110%);
  height: max-content;
  padding: 2em;
  border-left: $accent-color 4px solid;
  overflow: hidden;
  transition-duration: $animation-speed;
}

.open_job-button {
  width: 100%;
  background: none;
  border: none;
  color: $white-font-color;
  font-size: 2em;
  transition-duration: $animation-speed;
}

.open_job-button-icon.active {
  transform: rotate(180deg);
}

@media (min-width: 370px) {
  .footer_form-first-grid {
    grid-template-areas:
    'one two'
    'three four'
    'five five'
    ;
    font-size: 1.4em;
  }
}

@media (min-width: 600px) {
  .footer_form-files-container {
    grid-template-areas:
    'one two'
    'three three'
    'four four'
    ;
  }
  .footer_apply-button {
    margin: 0 auto;
  }
}

@media (min-width: 1350px) {
  .footer_input,
  .footer_select {
  width: 100%;
  padding: 0.5em 1em;
  font-size: .7em;
  }

  .footer_apply-button {
    font-size: 1em;
  }
}

@media (min-width: 1900px) {
  .footer_form {
    font-size: 1.5em;
  }

  .footer_input,
  .footer_select {
  width: 100%;
  padding: 0.5em 1em;
  font-size: .7em;
  }

  .footer_apply-button {
    font-size: 1em;
  }
}
