@import '../../../../variables';

.logo_container {
  position: absolute;
  top: 2em;
  width: 100%;
  padding: 0 7em;
}

.logo {
  max-width: 140px;
}

.start_grid {
  display: grid;
  font-size: 0.75em;
  height: 100%;
  background: url(../../../../assets/img/Background-Website.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-section.one {
  justify-content: flex-start;
}

.grid-section.two {
  justify-content: flex-end;
}

.socials_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.socials_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  position: relative;
  &::after {
    background: $accent-color;
    position: absolute;
    width: 2px;
    height: 100%;
    content: '';
    right: 0;
    top: 0;
    border-radius: 50px;
  }
}

.socials_icon-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials_icon {
  color: $white-font-color;
  stroke: $white-font-color;
  stroke-width: 1rem;
  width: 30px;
  aspect-ratio: 1/1;
  fill-opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition-duration: $animation-speed;
  &:hover {
    stroke: 0;
    fill-opacity: 1;
  }
}

.start_monitor {
  max-width: 80%;
}

@media (min-width: 370px) {
  .start_grid {
    font-size: .85em;
  }

  .socials_icon {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .start_grid {
    font-size: .95em;
  }

  .socials_icon {
    font-size: 1.8rem;
  }

  .socials_container {
    padding: 1em;
  }

  .socials_list {
    padding: 1.5rem 1rem 1.5rem 0;
    gap: 1.5em;
  }
}

@media (min-width: 900px) {
  .socials_container {
    height: 100%;
  }

  .logo_container {
    top: 3.5em;
  }

  .logo {
    max-width: 250px;
  }
}

@media (min-width: 1200px) {
  .start_grid {
    grid-template-areas:
    'two one'
    ;
    grid-auto-columns: 50%;
  }

  .socials_icon {
    font-size: 2.1rem;
  }
}
