<app-navigation
  [start]="start"
  [service]="service"
  [team]="team"
  [contact]="contact"
  [footer]="footer"
></app-navigation>
<main>
  <section class="start" #start>
    <app-start></app-start>
  </section>
  <section class="services" #service>
    <app-service></app-service>
  </section>
  <section class="team" #team>
    <app-team></app-team>
  </section>
  <section class="contact" #contact>
    <app-contact></app-contact>
  </section>
</main>
<footer #footer>
  <app-footer></app-footer>
</footer>
<app-copyright></app-copyright>
