@import '../../../variables';

.copyright-container {
  background: $background-color;
  width: 100%;
  display: block;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.copyright-text {
  height: 72px;
  background-color: $background-color;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.placeholder {
  height: 72px;
}
