<div class="services_grid">
  <div class="services_section one">
    <div class="content-grid">
      <div class="services_content-container one">
        <p class="services_content-text">Wir erschaffen zusammen dein individuelles Brand, deine Corporate Identity und setzen ein Augenmerk auf dein Logo.
        Für deine starke Werbeperfomance geben wir dir persönliche, digitale und Printmedien an die Hand. Als Beispiel Flyer und Visitenkarten.
        Deine Marke wird individuell und einzigartig. Deine Motivation zündet zu einer Marketing Flamme die mit uns nicht ausgeht.</p>
      </div>
      <div class="services_content-container two">
        <p class="services_content-text">Dank deinen Vorstellungen personalisieren wir deine Webseite zu einem stilvollen Tab. Sei mit deiner zugeschnittenen Webseite immer ein Volltreffer in den Trends.
        Wir heben deine Userexpierence auf eine neue Ebene. Deine Webseite wirkt einladender für Kundenaktionen.
        Die Kundenresonanz wird dich überwältigen, ab jetzt öffnet jeder deinen Tab.</p>
      </div>
      <div class="services_content-container three">
        <p class="services_content-text">TabTeam wird für dich zum TagTeam. Durch personalisierte Tags setzten wir deinen Kanal ins Rampenlicht.
        Anpassungen führen zu einer genaueren Zielgruppe. Social Media Konzepte machen dein Unternehmen zum Influencer.
        Zielgruppenanalyse führt zu einer klar definierten Community. </p>
      </div>
    </div>
  </div>
  <div class="services_section three">
    <div class="textContainer">
      <h1><span class="green">Der Draht glüht</span> auf</h1>
      <h2>treibt <span class="green">die Energie an</span>.</h2>
      <p>
        Wir geben alles für deine Idee, dabei ist uns der Workflow wichtig.
        Regelmäßige Updates sind für dich ein Muss und eine "Live-View"
        bekommst du jederzeit auf Wunsch.
      </p>
      <p>
        TabTeam arbeitet <span class="green uppercase">konsequent</span> und <span class="green uppercase">remote</span>.
      </p>
      <div class="to-contact-container">
        <div class="to-contact-button">Performance für deinen Tab
          <div class="services_icon-background contact">
            <fa-icon [icon]="faPaperPlane" class="services_icon contact"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
