@import '../../../../variables';

.services_grid {
  background: $background-color;
  display: grid;
  grid-template-areas:
  'three'
  'one'
  ;
  height: 100%;
  grid-auto-rows: 1fr;
}

.services_section.one {
  grid-area: one;
  background: url(../../../../assets/img/Background-Website_Blur.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.services_section.two {
  grid-area: two;
}

.services_section.three {
  grid-area: three;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services_one-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services_icon_background {
  font-size: 15em;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  aspect-ratio: 1/1;
  color: $white-font-color;
  margin: 0 auto;
}

.services_indicator-container {
  padding: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.services_indicator {
  width: 15%;
  height: .2em;
  background: $white-font-color;
  transition-duration: $animation-speed;
  border-radius: 50px;
}

.services_indicator.active {
  width: 30%;
  height: .2em;
  background: $accent-color;
  transition-duration: $animation-speed;
}

.content-grid {
  display: grid;
  grid-template-areas:
  'one'
  'two'
  'three'
  ;
  font-size: 0.9em;
  gap: 1em;
  padding: 1em;
}

.services_content-container {
  font-size: 0.85rem;
  text-align: left;
  padding: 1em;
  border: 1.3pt $white-font-color solid;
  border-radius: 7px;
}

.services_content-text {
  margin: 0;
  text-align: justify;
  line-height: 1.5em;
}

.services_choose-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  padding: 2em 1em;
  gap: 1.3em;
  max-width: 450px;
  margin: 0 auto;
}

.services_service {
  background: $gradient;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1em .5em;
}

.services_service-icon {
  display: flex;
  justify-content: center;
}

.services_icon-background {
  background: $gradient;
  height: 30px;
  aspect-ratio: 1/1;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  border-radius: .5em;
  box-sizing: content-box;
}

.services_icon {
  font-size: 1.3em;
  height: 32px;
  display: flex;
  align-items: center;
  fill-opacity: 0;
  stroke: $white-font-color;
  stroke-width: 1em;
}

.services_service-text {
  font-size: 0.7em;
}

.services_small-text {
  font-size: 0.7em;
}

.services_section.three {
  font-size: 0.75em;
}

.to-contact-container {
  width: 100%;
  height: min-content;
  text-align: center;
  padding: 1em 2em;
}

.to-contact-button {
  width: 90%;
  background: $gradient;
  position: relative;
  height: 33px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $box-shadow;
  margin: 0 auto;
}

.services_icon-background.contact {
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 390px) {
  .services_section.three {
    font-size: 0.85em;
  }

  .services_content-container {
    font-size: .78em;
    max-width: 370px;
    margin: 0 auto;
  }

  .services_service {
    font-size: 1.1em;
  }

  .to-contact-container {
    font-size: 0.7em;
  }
}

@media (min-width: 600px) {
  .services_content-container {
    max-width: 450px;
  }

  .services_section.three {
    font-size: 1em;
  }

}

@media (min-width: 900px) {
  .services_grid {
    grid-template-areas:
    'one three'
    'one two'
    ;
    grid-auto-rows: 50%;
    grid-auto-columns: 50%;
  }

  .services_section.three {
    justify-content: flex-end;
  }
}

@media (min-width: 1350px) {
  .services_content-container {
    max-width: 550px;
    font-size: 1.5rem;
  }

  .services_choose-container {
    max-width: 600px;
    font-size: 1.4em;
  }

  .services_icon_background {
    font-size: 30em;
  }
}

@media (min-width: 1920px) {
  .to-contact-button {
    padding: 1.3em;
  }

  .services_icon-background {
    height: 91%;
  }

  .content-grid {
    padding: 3em 1em 1em 1em;
    gap: 2em;
  }

  .services_content-container {
    max-width: 100%;
  }
}
