@import '../../../../variables';

.team_grid {
  font-size: 0.75em;
  display: grid;
  grid-template-areas:
  'one'
  'two'
  ;
  height: 100%;
  background: $background-color;
  grid-auto-rows: 50%;
}

.team_section.one {
  grid-area: one;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.team_section.two {
  grid-area: two;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  overflow-x: hidden;
}

.select-team {
  position: absolute;
  bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9em;
}

.team-name-span {
  position: relative;
  width: max-content;
  &::before {
    position: absolute;
    bottom: -3px;
    content: '';
    width: 0;
    height: 2px;
    background: $accent-color;
    transition-duration: $animation-speed;
  }
}

.team-name-span.active {
  position: relative;
  width: max-content;
  &::before {
    position: absolute;
    bottom: -3px;
    content: '';
    width: 80%;
    height: 2px;
    background: $accent-color;
    border-radius: 50px;
    transition-duration: $animation-speed;
  }
}

.background-container {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 0;
}

.background {
  background: url(../../../../assets/img/Background-Website.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.team_view-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 99%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.team_view-box {
  display: grid;
  grid-auto-rows: 1fr;
  height: 100%;
  box-sizing: border-box;
}

.team_view-box > * {
  box-sizing: border-box;
}

.team_profile-pic {
  max-height: 130px;
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.team_view-section-text.name {
  font-size: 1.5em;
  padding: 0.5em;
}

.team_view-section-text.title {
  font-size: 1.3em;
  color: $accent-color;
  padding: .5em;
}

.team_view-section-text.caption {
  font-size: .9em;
  padding: .5em 1em;
}

@media (min-width: 390px) {
  .team_grid {
    font-size: .85em;
  }

  .team_profile-pic {
    max-height: 180px;
  }
}

@media (min-width: 600px) {
  .team_grid {
    font-size: 1em;
  }
}
