<h2 class='footer__job-title'>Front End Developer (m/w/d)</h2>
<h3 class='footer__job-subheadline'>Das sind wir</h3>
<p class='footer__job-description'>Wir sind ein Start-Up aus Bayern und möchten Firmen auf ihren Weg in die digitalisierung unterstützen und bauen ihnen eine Internetpräsenz auf.
Wir arbeiten komplett Remote und ermöglichen uns und unseren Mitarbeitern die Möglichkeit von Überall auf der Erde aus zu arbeiten.</p>
<h3 class='footer__job-subheadline'>Das bieten wir dir</h3>
<ul class='footer__job-details-ul'>
  <li class='footer__job-details-list-item'>flexible Arbeitszeiten</li>
  <li class='footer__job-details-list-item'>Leistungsgerechte Vergütung</li>
  <li class='footer__job-details-list-item'>Home Office (arbeite von wo aus du willst)</li>
  <li class='footer__job-details-list-item'>30 Urlaubstage</li>
  <li class='footer__job-details-list-item'>junges und dynamisches Team</li>
  <li class='footer__job-details-list-item'>flache Hierarchie</li>
  <li class='footer__job-details-list-item'>diverse Weiterbildungen</li>
</ul>
<h3 class='footer__job-subheadline'>Du bringst mit</h3>
<ul class='footer__job-details-ul'>
  <li class='footer__job-details-list-item'>sehr gute Kenntnisse in den Programmiersprachen HTML, CSS, Javascript</li>
  <li class='footer__job-details-list-item'>bereits Erfahrung mit beliebten Javascript Frameworks wie React, Angular, Vue wünschenswert</li>
  <li class='footer__job-details-list-item'>sehr gute Englischkenntnisse in Wort und Schrift</li>
  <li class='footer__job-details-list-item'>zielorientierte und selbstständige Arbeitsweise</li>
  <li class='footer__job-details-list-item'>hohe Leistungsbereitschaft und eigeninitiative</li>
</ul>
<h3 class='footer__job-subheadline'>Deine Aufgaben</h3>
<ul class='footer__job-details-ul'>
  <li class='footer__job-details-list-item'>Erstellung von Webseiten für unsere Kunden</li>
  <li class='footer__job-details-list-item'>Front-End Integrationen</li>
  <li class='footer__job-details-list-item'>erarbeiten einer Sinnvollen Webseiten Struktur</li>
  <li class='footer__job-details-list-item'>SEO orientiertes Programmieren</li>
  <li class='footer__job-details-list-item'>Erstellung von Webanwendungen</li>
</ul>
<p class='footer__job-description'>Dir gefällt was du liest? Perfekt! Dann schicke uns deine deine Bewerbung zusammen mit deiner Gehaltsvorstellung und deinem frühestmöglichen Eintrittstermin</p>
<p class='footer__job-description'>Schicke deine Unterlagen an:<br/>
  Ansprechpartner: Christoph Labestin<br/>
  <a href='mailto:bewerbung@tabteam.media'>bewerbung@tabteam.media</a>
</p>
<p class='footer__job-description'>oder bewerbe dich direkt hier</p>
<button>auf die Stelle bewerben</button>
