<div class='footer__content media__content'>
  <p class='footer__content__sub-chapter-headline'>
      Hier kannst Du direkt von unserer Cloud, sicher unsere Medien herunterladen. Wir stellen Dir hier Informationen
      zur Verfügung, welche Du direkt aus erster Hand nutzen kannst. Wir ersparen dir hiermit die nervige Googlesuche
      und das nutzen von nicht kompatiblen Dateien indem Du hier direkt auf den Goldtopf zugreifen kannst.
  </p>
  <p class='footer__content__sub-chapter-headline'>
      Follow the Rainbow and klick the Button
  </p>
  <div class='footer__media-button-container'>
      <a class='footer__media-button' href="https://tabteammedia.sharepoint.com/:f:/g/Ehp46YTAoYtCkPV6cKTNHqcBLGN-iSqE7iCnl4HD9MjCDg?e=VQWM4O">
          <p class='footer__media-button-text'>zu den Medien</p>
      </a>
  </div>
</div>
