<div class='footer__content'>
  <h1 class='footer__content__headline'>Impressum</h1>
  <h2 class='footer__content__chapter-headline'>Angaben gemäß § 5 TMG:</h2>

  <p class='footer__content__text'>TabTeam GbR</p>

  <p class='footer__content__text'>Ödwieser Weg 7<br/>84082 Laberweinting</p>

  <p class='footer__content__text'><b>Vertreten durch</b><br/>
  Christoph Labestin<br/>
  Sascha Frank<br/>
  Alexander Diermeyer</p>

  <p class='footer__content__text'>
      UST-ID: DE310637717<br/>
      Amtsgericht Straubing<br/>
      Sitz der Gesellschaft ist Laberweinting<br/>
  </p>
  <h2 class='footer__content__chapter-headline'>Kontakt</h2>
  <p class='footer__content__text'>
      Telefon: <a href='callto:+4915678215800'>+49 156 78215800</a><br/>
      E-Mail: <a href='mailto:impressum@tabteam.media'>impressum@tabteam.media</a><br/>
  </p>
  <h2 class='footer__content__chapter-headline'>EU-Streitschlichtung</h2>
  <p class='footer__content__text'>
  Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:<a href='https://ec.europa.eu/consumers/odr/'>https://ec.europa.eu/consumers/odr/</a>.<br/>Unsere E-Mail-Adresse finden Sie oben im Impressum.
  </p>
  <h2 class='footer__content__chapter-headline'>Verbraucherstreitbeteiligung / Universalschlichtungsstelle</h2>
  <p class='footer__content__text'>
  Wir nehmen an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil. Zuständig istdie Universalschlichtungsstelle des Zentrums für Schlichtung e.V., Straßburger Straße 8, 77694 Kehl amRhein (<a href='https://www.verbraucher-schlichter.de'>https://www.verbraucher-schlichter.de</a>).
  </p>
</div>
