$accent-color: #52cc7c;
$highlighted-color: #2DFF77;
$white-font-color: #f7f7f7;
$background-color: #2e2e2e;
$red-color: #BF155E;
$purple-color: #6F58E6;
$blue-color: #0169D4;
$orange-color: #F0B10C;
$box-shadow: 0 0 10px #202020;
$animation-speed: 0.3s;
$gradient: linear-gradient(to right, hsl(140, 32%, 40%), hsl(142, 20%, 34%));
