@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: $white-font-color;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.green {
  color: $accent-color;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  margin: 0;
}

section {
  height: 100vh;
  position: relative;
  text-align: center;
}

.services {
  height: 150vh;
}

.contact {
  height: 150vh;
}

.textContainer {
  padding: 1em;
  text-align: left;
  max-width: 300px;
}

.italic {
  font-style: italic;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

@media (min-width: 370px) {
  .textContainer {
    max-width: 350px;
  }

  main, .footer {
    font-size: 1.3em;
  }
}

@media (min-width: 900px) {
  .services {
    height: 100vh;
  }

  .textContainer {
    max-width: 500px;
  }
}
