<div class="team_grid">
  <div class="team_section one">
    <div class="textContainer">
      <h1><span class="green">Dein Tab</span> erstellt</h1>
      <h2>von unserem <span class="green">Team</span>.</h2>
      <p>
        Wir laden dich ins Haus TabTeam ein. Zusammen starten wir dein Projekt. Dürfen wir uns vorstellen.
      </p>
      <p>
        TabTeam arbeitet <span class='green uppercase'>familiär</span> und <span class='green uppercase'>kooperativ</span>.
      </p>
    </div>
  </div>
  <div class="team_section two">
    <div class="background-container">
      <div class="background"></div>
    </div>
    <div class="team_view-grid snaps-inline">
      <div class="team_view-box">
        <div class="team_view-section">
          <img src="../../../assets/img/Alexander-Diermeyer.jpg" alt="Bild von Alexander" class="team_profile-pic">
        </div>
        <div class="team_view-section">
          <div class="team_view-section-text name">Christoph Labestin</div>
          <div class="team_view-section-text title">Geschäftsführer</div>
          <div class="team_view-section-text caption italic">Angular Hero & iPad Allrounder</div>
        </div>
      </div>
      <div class="team_view-box">
        <div class="team_view-section">
          <img src="../../../assets/img/Alexander-Diermeyer.jpg" alt="Bild von Alexander" class="team_profile-pic">
        </div>
        <div class="team_view-section">
          <div class="team_view-section-text name">Alexander Diermeyer</div>
          <div class="team_view-section-text title">Creative</div>
          <div class="team_view-section-text caption italic">"Whiteboard beschmierer & Photoshop Crack"</div>
        </div>
      </div>
      <div class="team_view-box">
        <div class="team_view-section">
          <img src="../../../assets/img/Alexander-Diermeyer.jpg" alt="Bild von Alexander" class="team_profile-pic">
        </div>
        <div class="team_view-section">
          <div class="team_view-section-text name">Sascha Frank</div>
          <div class="team_view-section-text title">IT-Consultant</div>
          <div class="team_view-section-text caption italic">Backend Beschwörer & Python Pro</div>
        </div>
      </div>
      <div class="team_view-box">
        <div class="team_view-section">
          <img src="../../../assets/img/Alexander-Diermeyer.jpg" alt="Bild von Alexander" class="team_profile-pic">
        </div>
        <div class="team_view-section">
          <div class="team_view-section-text name">Mikail Delier</div>
          <div class="team_view-section-text title">Social Media</div>
          <div class="team_view-section-text caption italic">Marketing Dealer Deines Vertrauens</div>
        </div>
      </div>
      <div class="team_view-box">
        <div class="team_view-section">
          <img src="../../../assets/img/Alexander-Diermeyer.jpg" alt="Bild von Alexander" class="team_profile-pic">
        </div>
        <div class="team_view-section">
          <div class="team_view-section-text name">Bryan Conrad</div>
          <div class="team_view-section-text title">VFX Designer</div>
          <div class="team_view-section-text caption italic">After Effects Pro & VFX Genie</div>
        </div>
      </div>
    </div>
  </div>
</div>
