<div class="logo_container">
  <img src="../../../assets/img/tabteam-logo.png" alt="TabTeam Logo" class="logo"/>
</div>

<div class="start_grid">
  <div class="grid-section" *ngIf='width >= 900'></div>
  <div class="grid-section">
    <div class="textContainer">
      <h1><span class="green">Deine</span> Ideen setzen</h1>
      <h2>wir uns als <span class="green">Maßstab</span></h2>
      <p>Deine Website soll nicht nur Statistik und Preiskalkulation sein.
        Wir nehmen deine Motivation auf. Niveau und Wünsche werden auf
        deine Kunden abgestimmt. Sei ein direktes Suchergebnis.</p>
      <p>TabTeam deine <span class='green uppercase'>webagentur</span> mit <span class='green uppercase'>idealismus</span>.</p>
    </div>
  </div>
</div>

<div class="socials_container">
  <ul class="socials_list">
    <a href="" class="socials_link">
      <li class="socials_icon-wrapper">
        <fa-icon [icon]="faFacebook" class="socials_icon"></fa-icon>
      </li>
    </a>
    <a href="" class="socials_link">
      <li class="socials_icon-wrapper">
        <fa-icon [icon]="faInstagram" class="socials_icon"></fa-icon>
      </li>
    </a>
    <a href="" class="socials_link">
      <li class="socials_icon-wrapper">
        <fa-icon [icon]="faLinkedinIn" class="socials_icon"></fa-icon>
      </li>
    </a>
    <a href="" class="socials_link">
      <li class="socials_icon-wrapper">
        <fa-icon [icon]="faDiscord" class="socials_icon"></fa-icon>
      </li>
    </a>
  </ul>
</div>
